# RailSafeAI - Zaruriy kutubxonalar

# Computer Vision
opencv-python==4.8.1.78
numpy==1.24.3

# YOLO Object Detection
ultralytics==8.0.196

# OCR (ixtiyoriy - OCR_ENABLED=True bo'lganda)
# easyocr==1.7.0
# paddlepaddle==2.5.1
# paddleocr==2.7.0.3

# Utility
Pillow==10.0.0
matplotlib==3.7.2

# Konfiguratsiya
pyyaml==6.0.1